.logo-ctrl{
    display: flex;
    /* border: 1px solid red ; */
    padding: 40px 10px 10px 140px ;
    
}

.form-ctrl{
    /* border: 1px solid black ; */
}

.container{
    margin-top: 60px ;
    /* border: 2px solid yellow; */
    margin-left: 50px ;
  
}
.right-ctrl{
    /* margin-top:25px ; */
    padding: 15px 40px ;
    align-items: center ;
    text-align: center ;
    background-color: #fff;
    /* border: 2px solid red ; */
}
.login-ctrl{
  
    text-align: center ;
    align-items: center ;
    font-size: 20px ;
    font-weight: 600 ;
    margin-bottom: 10px ;
    
}

.form-control{
    /* background-color: #F2F2F2; */
    border-radius: 2px;
}
.or-ctrl{
    text-align: center ;
}

.desktop_image{
    display: block ;
}
.mobile_image{
    display: none ;
}
.NavLink-ctrl{
    text-decoration: none ;
    color: inherit;
}

@media only screen and (max-width: 450px){

    .desktop_image{
        display: none ;
    }
    .container{
        margin-top: 40px ;
        margin-left: 1px ;
    }
    .logo-ctrl{
        padding: 10px 5px ;
        margin-bottom: 30px;
    }
    .mobile_image{
        display: block ;
        width: 90vw;
    }

    .right-ctrl{
        padding: 5px 5px ;
        /* display: flex; */
        justify-content: center ;
        background-color: #fff;
    }
    .form-ctrl22{
        background-color: #fff;

    }
  

}

@media only screen and (min-width:451px) and (max-width: 764px){

    .desktop_image{
        display: block ;
    }
    .container{
        margin-top: 40px ;
        margin-left: 50px ;
    }
    .logo-ctrl{
        padding: 10px 1px ;
        margin-bottom: 30px;
    }
    .mobile_image{
        display: none ;
        width: 100vw;
    }

    .right-ctrl{
        padding: 5px 1px ;
        /* display: flex; */
        justify-content: center ;
    }
  

}